.button {
  margin: 5px;
  position: relative;
  top: 6px;
  left: -11px;
}

.bottomborder {
  position: relative;
  top: 63px;
  border-bottom: 1px gray solid;
  width: 90%;
}

.text {
  position: relative;
  top: 12px;
}

.inputForm {
  position: relative;
  top: -13px;
  left: -27px;
  height: 27px;
}
