.templateTaskListContainer{
  border: 1px solid black;
  max-width: 75%;
  margin: auto;
}

.templateTaskWrapper{
  margin: 10px;
}

.tableWhiteSpace {
  white-space: pre;
}

.row {
  display: block;
}

.row:first-of-type{
  padding: 20px 0px;
}

.tableDescription {
  position: relative;
  left: -27px;
}

.tableDays {
  position: relative;
  left: -46px;
}
