.TaskDiv,
.TaskComplete,
.NearDue,
.SoonDue,
.PastDue {
  color: mintcream;
  padding: 3px;
  border: azure 5px solid;
  margin: 5px;
  font-family: comic;
  border-radius: 3px;
}


.TaskDiv {
  background-color: yellowgreen;
}

.TaskComplete {
  background-color: #ab8;
}

.dog {
  background-image: url("http://i0.kym-cdn.com/photos/images/facebook/000/234/765/b7e.jpg");
}

.NearDue {
  background-color: orange;
}

.SoonDue {
  background-color: coral;
}

.PastDue {
  background-color: red;
  border: yellow 5px solid;
}

.TaskBody {
  font-size: 1.1rem;
  background-color: rgba(125,125,125,0.4);
  border: papayawhip 1px solid;
  padding: 2px 6px;
  margin: 3px;
}

.AlertDueDate {
  color: yellow;
  font-weight: bold;
}
